<!DOCTYPE html>
<html>
	<head>
		<title>Life of Billy</title>
	</head>

	<body>
		<div style="width:800px; height:600px; border:1px solid black; margin: 25px auto" id="game-container">
		</div>

		<script src="/javascripts/phaser.min.js"></script>
		<script type="text/javascript" src="/javascripts/GameManager.js"></script>
		<script type="text/javascript">


			window.onload = function() {
				console.log("window loaded.");

				// creates game and starts
				var gameManager = GameManager('game-container', 800, 600);
			}
		</script>
	</body>
</html>